Create the TLDR; for this text.

You will not title your response with anything including "TLDR".

Please separate each sentence of your text response with new paragraph.

{{ include "../no-preamble/no-preamble.tmpl" . | trim }}

Only provide the tldr summary and refrain from adding comments.

When you reply with this TLDR, please don't create an artifact.

{{ include "../add-google-search-links/add-links.tmpl" . | trim }}
