This is an example of a markdown file:

```
# top header

apple

## sub heading

pear

### sub sub heading

peanut

## sub heading 2

orange
```

We can model this as a graph. 

Please do so using neo4j and create cypher query langage script.

Next, please create python script to traverse this graph and print the output in the same markdown heading order.

{{ include "../python-package/python-package.tmpl" . }}

