## readme: get to the point quickly
{{include "../readme-be-brief/readme-be-brief.tmpl" . | trim}}

## readme in org mode please
{{include "../readme-in-org-mode/readme-in-org-mode.tmpl" . | trim}}

## files in txtar format please
{{include "../txtar/txtar.tmpl" . | trim}}

## follow solid principles please
{{include "../solid-principles/solid-principles.tmpl" . | trim}}

## silence is golden
{{include "../silence-is-golden/silence-is-golden.tmpl" . | trim}}

## log to stderr
{{include "../logging-to-stderr/logging-to-stderr.tmpl" . | trim}}
